html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: darkslategray;
}

h2 {
    font-size: 4.0em;
    color: sandybrown;
    text-shadow: black 6px;
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
}

h3 {
    font-size: 1.5em;
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 10px;
    text-decoration: none;
    background: teal;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: darkcyan;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}



.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 400px;
    background-color: lightgrey;
    margin: 20px 0px 20px 0px;
}

.shape {
    background-color: rebeccapurple;
}

.mini-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 80px;
    height: 80px;
}